.joy {
    fill: yellow;
}

.meh {
    fill: green;
}

.despair {
    fill: blue;
}

button {
    background: rgb(255, 112, 219);
    color: white;
}

.key-img {
    width: 250px;
    height: 80px;
}

.details {
    font-weight: bold;
}

.appended-text {
    font-weight: normal;
}